#main {
  margin-top: 20px;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: white;
}
/* a:link {
  color: #22333c;
}
a:visited {
  color: #22333c;
}
a:hover {
  color: #b69274;
}
*/

#quoteBox {
  width: 50%;
  margin: 100px auto;
}

#randomQuoteBtn {
  width: auto;
  height: auto;
  background-color: lightslategray;
  border: 2px solid #b0a28f;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Zilla Slab", serif;
  font-size: 16px;
  font-weight: bold;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 5px #22333c;
  box-sizing: border-box;
}

#randomQuoteBtn:hover {
  background-color: #22333c;
  color: white;
  font-weight: normal;
}

#randomQuoteBtn:active {
  background-color: #22333c;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#randomQuoteBtn:focus {
  outline: 0;
} 