input::placeholder {
  text-align: center;
}

#authors button {
  margin-bottom: 10px;
}

#searchComponent {
  width: 50%;
  margin: 100px auto;
}

input {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid #D3D3D3;
  width: 250px;
}

input:focus, input:active {
  border: none;
  border-bottom: 2px solid #D3D3D3;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

#quotes li {
  display: block;
  margin: 10px 10px;
}

li {
  display: inline-block;
  margin: 0 10px;
}


